<h1>Editar Gênero</h1>

<%= form_with model: @genre, local: true do |form| %>
  <p>
    <%= form.label :name, 'Nome do Gênero' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit 'Atualizar Gênero' %>
  </p>
<% end %>

<%= link_to 'Voltar', genres_path %>


